

{{#if error}}
  There was an error...
{{/if}}


    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Stock Portfolio</h1>
           
          <br/>
          <h2 class="display-3">{{stockinfo.companyName}} ({{stockinfo.symbol}})</h2>
          
          <strong>Latest Price: </strong>${{ stockinfo.latestPrice }}<br/>
          <strong>Previous Close: </strong>${{ stockinfo.previousClose }}<br/>
          <strong>Percent Change: </strong>{{ stockinfo.changePercent }}%<br/>
          <strong>Market Cap: </strong>${{ stockinfo.marketCap }}<br/>
          <strong>YTD Change: </strong>{{ stockinfo.ytdChange  }}%<br/>
          <strong>52wk High: </strong>{{ stockinfo.week52High }}<br/>
          <strong>52wk Low: </strong>{{ stockinfo.week52Low }}<br/>

          
        </div>
      </div>
<!-- to check what info API returns
<br/><br/>
{{#each stock}}
  {{@key}} | {{this}}<br/>
{{/each}}
-->





      <div class="container">


       <!--
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>

            <p>Maybe news article or top performing favs displayed or top perfoming stocks worlwide</p>

            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        -->



        <hr>

      </div> 
    </main>

    